{% extends "./base.html" %}

{% block title %} Edicion de anuncios {% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Ads Edit</h2>
        <div class="card">
            <div class="card-body">
                <form action="/save_edit_ad/" method="POST">{% csrf_token %}
                    {{amount_form |crispy}}
                    <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}