{% extends "./base.html" %}

{% block title %} ordenes en proceso {% endblock %}

{% block body %}

        <h1>ORDERS</h1>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Binance id</th>
                    <th>name</th>
                    <th>account</th>
                    <th>document</th>
                    <th>document type</th>
                    <th>account type</th>
                    <th>is nequi</th>
                    <th>status</th>
                    <th colspan="3">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for c in orders %}
                <tr>
                    <td>{{c.binance_id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.account}}</td>
                    <td>{{c.document_number}}</td>
                    <td>{{c.document_type}}</td>
                    <td>{{c.account_type}}</td>
                    <td>{{c.is_contact}}</td>
                    <td>{{c.status}}</td>
                    <td><a href="edit_order/{{c.binance_id}}" class="btn btn-info">Editar</a></td>
                    <td><a href="delete_order/{{c.binance_id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

{% endblock %}